{% block from %}{% endblock %}

{% block environment %}
ENV USER="ou-user"
ENV UID="1000"
ENV GID="100"
ENV MODULE_CODE="{{ module.code }}"
ENV MODULE_PRESENTATION="{{ module.presentation }}"
ENV HOME="/home/$USER/$MODULE_CODE-$MODULE_PRESENTATION"
{% endblock %}

USER root

{% block createuser %}
RUN mkdir /home/$USER && \
    useradd -u $UID -g $GID -d $HOME -m $USER
{% endblock %}

RUN apt-get update -y && \
    apt-get install -y tini{% if sources and sources.apt %} curl gnupg{% endif %}{% if content%} git{% endif%}

{% block apt_sources %}
{% if sources and sources.apt %}
{% for source in sources.apt %}
RUN curl -fsSL "{{ source.key }}" | apt-key --keyring "/etc/apt/trusted.gpg.d/{{ source.name }}.gpg" add - && \
    echo "{{ source.deb }}" > "/etc/apt/sources.list.d/{{ source.name }}.list"
{% endfor %}
RUN apt-get update -y && \
    apt-get dist-upgrade -y
{% endif %}
{% endblock %}

{% block apt %}
{% if packages and packages.apt %}
RUN apt install -y {{ ' '.join(packages.apt) }}
{% endif %}
{% endblock %}

{% block pip %}{% endblock %}

{% if content %}
{% block content_setup %}
RUN mkdir -p /etc/module-content/data && \
    pip install --no-cache git+https://github.com/mmh352/ou-container-content.git
COPY build/content_config.yaml /etc/module-content/config.yaml
{% for part in content %}
{% if part.target.startswith('/') %}
COPY {{ part.source }} {{ part.target }}
{% else %}
COPY {{ part.source }} /etc/module-content/data/{{ part.target }}
{% endif %}
{% endfor %}
{% endblock %}
{% endif %}

{% block scripts %}
{% if scripts %}
{% for script in scripts %}
{% if script.inline %}
RUN {{ ' && \\\n    '.join(script.inline) }}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}

{% block application %}{% endblock %}

{% block set_permissions %}
RUN chown -R $USER:$GID $HOME
{% endblock %}

USER $USER

{% block runtime_environment %}
WORKDIR $HOME
ENTRYPOINT ["tini", "-g", "--"]
{% endblock %}

{% block cmd %}{% endblock %}
