{% extends 'dockerfile/base.jinja2' %}

{% block from %}
FROM python:3.9-slim-buster
{% endblock %}

{% block pip%}
RUN pip install --no-cache jhsingle-native-proxy
{% endblock %}

{% block application %}
{{ super() }}
COPY build/start-web-app.sh /usr/bin/start.sh
RUN chmod a+x /usr/bin/start.sh
{% endblock %}

EXPOSE 8888

{% block cmd %}
CMD ["start.sh"]
{% endblock%}
